/* switch the default font for the body, and remove top/bottom/left/right margin */
body {
    font-family: 'Fresca', sans-serif;
    margin: 0;
}

/* font, color, and alignment for the titles of the three displayable regions 
h3 {
    background-color: #DDD;
    font-size: 24pt;
    font-weight: bold;
    height: 42px;
    text-align: center;
}*/

/* Make the button for adding a message hover in the top right */
#showFormButton {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* The main screen table should have some space to the left 
#messageList {
    margin-left: 15px;
}*/

/* The table should be wider than it absolutely needs to be 
table {
    width: 500px;
}*/

/* alternate color of table rows 
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #888}*/

/* make table row height a bit bigger than necessary 
tr {
    height: 15px;
}*/

/* make the first column of the table wide 
td:first-child {width: 75%;}*/

/* make the form elements wide, and force a line break after each */
input, label, textarea {
    display: block;
    width: 200px;
}

/* put some space between textareas and the buttons that follow them */
textarea {
    margin-bottom: 5px;
}

/* put some left space before form elements */
label, input, textarea, #addButton, #editButton {
    margin-left: 15px;
}

/* custom formatting for the span where we put the creation date */
#editCreated {
    display: block;
    margin-bottom: 5px;
    margin-left: 15px;
}

/* ---- grid ---- */

.grid {
    max-width: 1200px;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-item {
    width: 152px;
    height: 152px;
    float: left;
    border-radius: 5px;
    padding: 5px;
}

.discoverImg {
    max-width: 120%;
    max-height: 120%;
    object-fit: cover;
    overflow: hidden;
}

hr.line {
    border: 1px solid #17a2b8;
    margin-left: 0;
    margin-top: 6px;
    margin-bottom: 6px;
}

.image-cropper {
    width: 125px;
    height: 125px;
    position: relative;
    overflow: hidden;
    border: 2px solid #17a2b8;
    border-radius: 50%;
}
.profile-pic {
    display: inline;
    height: 100%;
    width: auto;
}

.dropShadowFade {
    /* First we need to help some browsers along for this to work.
       Just because a vendor prefix is there, doesn't mean it will
       work in a browser made by that vendor either, it's just for
       future-proofing purposes I guess. */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}
.dropShadowFade:hover {
    -webkit-box-shadow: 0px 0px 48px -1px rgba(23,162,184,0.5);
    -moz-box-shadow: 0px 0px 48px -1px rgba(23,162,184,0.5);
    box-shadow: 0px 0px 48px -1px rgba(23,162,184,0.5);
}

.item-img {
    width: 90%;
}

.disappear {
    display: none;
}

.show {
    display: inline;
}
